@import "~bulma/sass/utilities/_all";

// Elements
$title-color: white;

// Menu
$menu-item-color: #B3B3B3;
$menu-item-hover-color: white;
$menu-item-hover-background-color: #121212;

@import "~bulma";
@import "~buefy/src/scss/buefy";
